<%-include('cabecalho.ejs');%>
   <form method="post">
       Nome: <input type="text" name="nome" 
        placeholder="Digite o nome do filme "><br>
       
        Ano: <input type="text" name="ano" 
        placeholder="Digite o ano do filme"><br>
       
        Diretor: <input type="text" name="diretor" 
        placeholder="Digite o nome do diretor do filme"><br>
       
        Sinopse: <input type="text" name="sinopse" 
        placeholder="Digite a sinopse do"><br>
        
       Foto: <input type="file" name="foto"><br>
      

      
        <select name="tipo">
            <option value="nome">Terror</option>
            <option value="nome">Comédia</option>
            <option value="nome">Ação</option>
            <option value="nome">Drama</option>
            <option value="nome">Máfia</option>
        
            <input type="submit" value="Enviar">

    
   </form> 
<%-include('rodape.ejs');%>